.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 250, 251);
  /* changed bg to this gray-50 color */
  padding: 3rem 1rem;
}

.formContainer {
  max-width: 28rem;
  width: 100%;
}

.formContainer > * + * {
  margin-top: 2rem;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  width: auto;
}

.heading {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  color: rgb(19, 23, 33);
}

.signUpLinkText {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(74, 92, 130);
}

.signUpLinkText:hover {
  color: rgb(93, 115, 163);
}

.signUpLink {
  font-weight: 500;
  color: rgba(79, 70, 229, 1);
}

.signUpLink:hover {
  color: rgba(99, 102, 241, 1);
}

.form {
  margin-top: 2rem;
}

.form > * + * {
  margin-top: 1.5rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inputGroup {
  border-radius: 0.375rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.inputGroup > * + * {
  margin-top: -1px;
}

.email {
  appearance: none;
  border-radius: 0px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-color: rgba(125, 143, 181, 1);
  color: rgba(19, 23, 33, 1);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.email::placeholder {
  color: rgba(74, 92, 130, 1);
}

.email:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: rgba(25, 131, 205, 1);
  z-index: 10;
}

.password {
  appearance: none;
  border-radius: 0px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-color: rgba(125, 143, 181, 1);
  color: rgba(17, 24, 39, 1);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.password::placeholder {
  color: rgba(74, 92, 130, 1);
}

.password:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: rgba(25, 131, 205, 1);
  z-index: 10;
}

.aboveSubmitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
}

.rememberMe {
  height: 1rem;
  width: 1rem;
  color: rgb(19, 102, 160);
  border-color: rgb(125, 143, 181);
  border-radius: 0.25rem;
}

.rememberMeLabel {
  margin-left: 0.5rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(19, 23, 33);
}

.forgotPasswordContainer {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.forgotPasswordLink {
  font-weight: 500;
  color: rgb(19, 102, 160);
}

.forgotPasswordLink:hover {
  color: rgba(25, 131, 205, 1);
}

.submitButton {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.375rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(19, 102, 160);
}

.submitButton:hover {
  background-color: rgb(16, 88, 139);
}

.submitButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
