.card {
  text-align: center;
  color: #fff;
  margin: auto;
  max-width: 300px;
  background: linear-gradient(
    135deg,
    rgb(19, 102, 160) 0%,
    rgb(14, 73, 114) 100%
  );
  border-radius: 8px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  z-index: 1;
}
