.card {
  text-align: center;
  color: #fff;
  margin: auto;
  width: 500px;
  background: linear-gradient(
    135deg,
    rgb(19, 102, 160) 0%,
    rgb(14, 73, 114) 100%
  );
  border-radius: 8px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  z-index: 2;
}

.card .cardInner {
  position: relative;
}

.topData {
  padding: 40px 25px 20px;
}

.cardImg {
  display: inline;
  width: 75px;
  height: 75px;
  background: #fff;
  padding: 2px;
  border-radius: 50px;
}

.cryptoNameWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 700;
}

.cryptoName {
  font-weight: bold;
  font-size: 1.5rem;
}

.cryptoSymbol {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding-left: 8px;
}

.cryptoMarketcap {
  width: auto;
  padding-top: 8px;
  background-color: transparent;
}

.cryptoVolume {
  width: auto;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: transparent;
}

.cryptoPrice {
  font-size: 20px;
  margin: 12px 0 0;
  font-weight: 300;
}

.cryptoPrice span {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -6px;
  left: 6px;
  padding: 4px;
  border-radius: 4px;
}

.cryptoPrice svg {
  margin-right: 4px;
}

.positive {
  background: #41e041;
}

.negative {
  background: #ff5b5b;
}

.close {
  position: absolute;
  color: #fff;
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 1;
}

.chart {
  position: relative;
}

.chart svg {
  vertical-align: middle;
}

.chartActions {
  display: block;
  margin-bottom: 20px;
}

.chartActions button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
}

.chartActions button:hover {
  border: 1px solid #fff;
}

.chartActions button:focus {
  border: 1px solid #fff;
}

.chartActions .active {
  background: #fff;
  color: rgb(14, 73, 114);
}

.loadingContainer {
  height: 0;
  padding-bottom: 50%;
  width: 100%;
}

.loadingContainer span {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 30%;
}

.modal {
  position: fixed;
  text-align: center;
  margin: auto;
  width: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgb(19, 102, 160) 0%,
    rgb(14, 73, 114) 100%
  );
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);

  /* 
  color: #fff;
  width: 500px;
  position: relative;
  /* transition: transform 0.5s ease, box-shadow 0.5s ease; */
}

.modalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.likeContainer {
  margin-left: 0.75rem;
}
