.hitzone {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.card {
  text-align: center;
  color: #fff;
  margin: auto;
  max-width: 300px;
  background: linear-gradient(
    135deg,
    rgb(19, 102, 160) 0%,
    rgb(14, 73, 114) 100%
  );
  border-radius: 8px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  z-index: 1;
}

.card:not(.expanded):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
}

.card .cardInner {
  position: relative;
}

.topData {
  padding: 40px 25px 0;
}

.cardImg {
  display: inline;
  width: 75px;
  height: 75px;
  background: #fff;
  padding: 2px;
  border-radius: 50px;
}

.cryptoName {
  font-size: 26px;
  font-weight: 300;
  margin: 12px 0;
}

.cryptoPrice {
  font-size: 20px;
  margin: 12px 0 0;
  font-weight: 300;
}

.cryptoPrice span {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -6px;
  left: 6px;
  padding: 4px;
  border-radius: 4px;
}

.cryptoPrice svg {
  margin-right: 4px;
}

.positive {
  background: #41e041;
}

.negative {
  background: #ff5b5b;
}

.expanded.card {
  max-width: 800px;
}

.expanded .topData {
  padding: 40px 25px 20px;
}

.close {
  position: absolute;
  color: #fff;
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 1;
}

.chart {
  position: relative;
}

.chart svg {
  vertical-align: middle;
}

.chartActions {
  display: none;
}

.expanded .chartActions {
  display: block;
  margin-bottom: 20px;
}

.chartActions button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
}

.chartActions button:hover {
  border: 1px solid #fff;
}

.chartActions button:focus {
  border: 1px solid #fff;
}

.chartActions .active {
  background: #fff;
  color: rgb(14, 73, 114);
}

.loadingContainer {
  height: 0;
  padding-bottom: 50%;
  width: 100%;
}

.loadingContainer span {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 30%;
}
