.button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  background-color: rgba(185, 28, 28, 1);
}

.button:hover {
  background-color: rgba(153, 27, 27, 1);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0px rgb(238, 227, 220), 0 0 0 4px rgba(248, 113, 113, 1),
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
