.outsideContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.rootContainer {
  display: flow-root;
}

.emptyState {
  color: rgba(107, 114, 128, 1);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ul {
  margin-bottom: -2rem;
}

.listItemContainer {
  position: relative;
  padding-bottom: 2rem;
}

.listItem {
  display: flex;
}

.listItem > * + * {
  margin-left: 0.75rem;
}

.likeIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.header {
  color: rgba(107, 114, 128, 1);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.items {
  color: rgba(107, 114, 128, 1);
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
}
