.container {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.selectContainer {
  margin: 0.75rem;
  width: 10rem;
}

.price {
  color: rgba(107, 114, 128, 1);
  font-size: 3.75rem;
  line-height: 1;
}

@media (min-width: 640px) {
  .chartContainer {
    width: 85vw;
    height: 85vh;
  }
}
